/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

/* Added */

.blog{

.blog-post{
	@include width70;
}

#content{
	margin-top: 60px;
}

.site-main{
	@include flex-center;
}

.entry-header{
	display: inline-flex;
	flex-flow: column wrap;

	.entry-title {
		@include label-blocks;		
		position: absolute;
		margin-top: 50px;
		word-wrap: wrap;
		width: 35rem;
		line-height: 3rem;
		text-align: left;
		
		a{
			color: #fff;
			text-decoration: none;
			font-size: 2rem;
			word-wrap: wrap;	
			font-family: 'Lato', 'sans-serif';
			font-weight: 700;
		}
	}

	.blog-image {
		width: inherit;
		img{
		background-size: cover;
		
		}
	}

	.entry-meta {
		// justify-content: flex-end;
		// align-items: flex-end;
		margin-top: -30px;
		color: #fff;
		}
}

.entry-content {
}

}