/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.site-area{
	@include flex-center;
	flex-flow: column wrap;
	width: 65%;
}

.blog-content{
	background: purple;
	width: 70%;
}

.entry-title{
	background: #248a83;
	width: 70%;
	min-height: 120px;
	color: #fff;
	text-transform: uppercase;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-text,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
