// Rem output with px fallback
@mixin font-size($sizeValue: 1){
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Flex center
@mixin flex-center{
	display: flex;
	justify-content: center;
	margin: auto;
}

// Green-bg and white-color labels
@mixin label-blocks{
	background: #248a83;
	color: #fff;
	text-transform: uppercase;
}