// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// 70% width
@mixin width70 {
	width: 70%;
}

// Flex center
@mixin flex-center {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	margin: auto;
}

// Flex start
@mixin flex-start {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

// Green bg and white color labels
@mixin label-blocks {
	background: #248a83;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0.8rem 0.5rem;
}

// Green color
@mixin green {
	color: #248a83;
}