/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* FRONT PAGE */

.home {  
  .site-header {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    position: absolute;
    border-bottom: 0px;
    
    a {
      font-family: 'Lato', 'sans-serif';      
      color: #fff;
    }
    
    a:hover{
      color: #f0e4d1;
    }
    
  }
  
  .home-image {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../content-folder/images/home-hero.jpg');
    background-size: cover, cover;    
  }
  
  .home-logo {
    height: 280px;
    width: 280px;
    background-size: cover;
    // background: url('../../content-folder/images/logos/inhabitent-logo-full.svg');
  }
  
  /* FRONT: SHOP SECTION */
  
  .shop-section {
    @include flex-center;
    flex-flow: column wrap;
    
  }
  .all-shop {
    display: flex;
    flex-flow: row wrap;
  }
  
  .product-type {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 270px;
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    
    img {
      width: 75px;
      height: 75px;
      padding-top: 10px;
    }
    
    p{
      text-align: center;
    }
    
    a{
      @include green;
      text-transform: uppercase;
      text-decoration: none;
    }
    
    .btn {
      background: #248a83;
      color: #fff;
      font-size: 0.8rem;
      padding: 0.6rem 1rem;
    }
  }
  
  
  /* FRONT: JOURNAL SECTION */
  
  .all-items-section {
    @include flex-center;  
    flex-flow: column wrap;
    justify-content: space-between;
  }
  
  .all-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    overflow: hidden;
  }
  
  .item-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    min-width: 370px;
    max-width: 370px;
    background-size: fill;
    
    img{
      min-height: 240px;
      min-width: 350px;    
    }
    
    a, .entry-title{
      @include green;
      text-transform: uppercase;
      text-decoration: none;
      text-align: left;
      font-family: 'Lato', 'sans-serif';
      font-weight: 700;
      font-size: 1.3rem;
      text-align: left;
      
    }
    
    .entry-meta, .entry-date {
      font-size: 0.8rem;      
    }
  }
  
  .adventure-section {
    width: 100%;
    .all-adventure {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-start;
    }
    
    .adventure-right {
      display: flex;
      flex-flow: column wrap;
      width: 50%;
      padding-left: 1rem;
    }
    
    .adventure-bottom-right {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding-top: 1rem;
    }
    
    .adventure-title {
      position: absolute;
      align-items: flex-start;
      justify-content: center;
      line-height: 2.5rem;
      padding: 3rem 3rem 0rem 2rem;
      a{
        color: #fff;
        text-decoration: none;
        font-size: 1.6rem;
      }
      a:hover{
        color: #f0e4d1;
      }
    }
    
    .canoe {
      display: flex;
      position: relative;
      justify-content: center;
      height: 525px;
      width: 50%;
      background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('../../content-folder/images/adventure-photos/canoe-girl.jpg') center;
      background-size: cover;
      a{
        font-size: 2.5rem;
      }
    }
    
    .beach {
      height: 255px;
      width: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('../../content-folder/images/adventure-photos/beach-bonfire.jpg') center;
      background-size: cover;
      a{
        font-size: 2.3rem;
      }
    }
    
    .mountain {
      height: 255px;
      width: 265px;
      background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('../../content-folder/images/adventure-photos/mountain-hikers.jpg') top;
      background-size: cover;
      a{
        max-width: 200px;
      }
    }
    
    .star {
      height: 255px;
      width: 265px;
      background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('../../content-folder/images/adventure-photos/night-sky.jpg') center;
      background-size: cover;
    }
    
  }
  
}

/* SHOP */

.archive {
  
  .site, .site-content, .content-area{
    @include flex-center;
    flex-flow: row wrap;
  }
  
  .page-title{
    font-family: 'Lato', 'sans-serif';
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  
  .product-type-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-bottom: #c8c8c8 dotted 1px;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    
  }
  
  .product-type {
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
    
    a{
      @include green;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1.2rem;
    }
  }
  
  .all-items {
    display: flex;
    flex-flow: row wrap;
  }
  
  .entry-title {
    display: flex;
    
    a{
      color: black;
      text-decoration: none;
      font-size: 0.8rem;
      font-weight: 300;
      height: 100%;
    }
  }
  
  .item-container {
    display: flex;
    flex-flow: column wrap;
    flex-basis: 25%;
    flex-shrink: 275px 275px 275px 275px;
    padding: 0rem 0.7rem;
  }
  
  .product-image {
    img{
      height: 20vw;
      width: 23vw;
      background-size: cover;
      border-bottom: #c8c8c8 solid 5px;
    }
  }
  
  .entry-title {
    display: flex;
    justify-content: center;
    border: #c8c8c8 solid 1px;
    border-top: none;
    margin-top: -12px;
    padding-top: 12px ;
    padding-bottom: 10px;
    margin-left: -0.3px;
    text-transform: initial;
    font-family: 'Miriam Libre', 'serif';
  }
  
}
/* ABOUT */

.page-template-about {
  
  .content-area {
    width: 100%;
  }
  
  .site-header {
    z-index: 500;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    position: absolute;
    border-bottom: none;
    a {
      font-family: 'Lato', 'sans-serif';      
      color: #fff;
    }
    
    a:hover{
      color: #f0e4d1;
    }
    
  }
  
  .about-hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../content-folder/images/product-photos/weathered-canoes.jpg') bottom;
    background-size: cover, cover;
    
  }
  
  .entry-title {
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    font-family: 'Lato', 'sans-serif';
  }
  
  .about-container {
    @include flex-center;
    width: 50%;
  }
}

/* CONTACT */
.page-id-6{
  .site{
    display: flex;
    flex-flow: row wrap;
    padding-top: 50px;
    
  }
  .entry-title{
		width: 70vw;
  }
  .entry-content{
    width: 70vw;
    h2, p{
      padding-left: 10px;
    }
    iframe{
      margin-left: -10px;
    }
  }
  
  h1{
    text-transform: uppercase;
    font-family: 'Lato', 'sans-serif';
    font-size: 2.2rem;
  }
  h2{
    font-family: 'Lato', 'sans-serif';
    font-weight: 700;
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    letter-spacing: 0.1rem;                
  }
}

/* Product Type Page */
.archive{
  padding-top: 100px;
  .page-header{
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Lato', 'sans-serif';
    font-weight: 700;
    .taxonomy-description{
      text-transform: initial;
      padding: 1rem 0rem;
      font-weight: 300;
      border-bottom: #c8c8c8 dotted 1px;
      margin-bottom: 3rem;
    }
  }
  .shop{
    display: flex;
    flex-flow: row wrap;
    .entry-header{
      display: flex;
      flex-flow: column wrap;
      flex-basis: 25%;
      flex-shrink: 275px 275px 275px 275px;
      padding: 0rem 0.7rem;
    }
    
    .blog-image {
      img{
        height: 20vw;
        width: 23vw;
        background-size: cover;
        border-bottom: #c8c8c8 solid 5px;
      }
    }
  }
  .blog-post{
    width: 25vw;
  }
  .entry-content{
    display: none;
  }
}

/* SEARCH */
.search-results{
  .site-content{
    display: flex;
    flex-flow: row wrap;
    .widget-area{
      padding-top: 50px;
      margin-left: 0rem;
    }
    .content-area{
      width: 72%;
      padding-top: 70px;
      padding-left: 1rem;
      .page-title{
        font-family: 'Lato', 'sans-serif';
        font-size: 2.3rem;
        border-bottom: #c8c8c8 solid 1px;
        text-transform: uppercase;
        padding-bottom: 40px;
        
      }
      .page-title span{
        font-family: 'Lato', 'sans-serif';
        font-size: 2.3rem;
      }
      
      .entry-title{
        display: flex;
        justify-content: flex-start;
        a{
          @include green;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 2rem;
          font-family: 'Lato', 'sans-serif';
          font-weight: 700;
        }
      }
    }
  }
}

/* Error 404 page */
.error404{
  .site-content{
    display: flex;
    flex-flow: row wrap;
    .widget-area{
      padding-top: 50px;
      margin-left: 0rem;
    }
    .content-area{
      width: 72%;
      padding-top: 70px;
      padding-left: 1rem;
      .fa-search{
        display: none;
      }
      input{
        min-width: 180px;
        text-transform: initial;
        background: #f4f4f4;
        font-family: 'Miriam Libre', 'serif';
        font-size: 1.2rem;
      }
      .widgettitle, .widget-title{
        display: flex;
        justify-content: flex-start;
        font-family: 'Lato', 'sans-serif';
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
      }
      ul{
        list-style: none;
        margin-left: -2.5rem;
        a{
          color: $green;
          text-decoration: none;
        }
      }
      .widget_archive{
        p{
          font-family: 'Lato', 'sans-serif';
        }
      }
    }
  }
}